# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules
dist
dist-ssr

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python cache
__pycache__/
*.pyc

# Machine Learning models
*.pkl
!Backend/model.pkl
!Backend/vectorizer.pkl

# Datasets (VERY IMPORTANT)
dataset/
*.csv
*.tsv

# Environment files
.env
